*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    overflow: hidden;
}
section{
    position: relative;
    background-color: black;
}

.logo{
    position: absolute;
    width: 200px;
    fill: crimson;
}