@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --color1: #111622;
    --color2: #212837;
    --color3: #353E53;
    --color5: #E5E6EB;
    --color6: #EEEEEE;
    --color7: #F5F7FA;
    --color8: #828DA5;
    --azul: #2E59C9; 
}

*{
    box-sizing: border-box;
    font-family: "Ubuntu";
}

h1{
    color: var(--color7);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container{
    background-color:var(--color2);
    height: 600px;
    width: 1000px;
    margin: auto auto;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .left-col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .right-col{
        display: flex;
        justify-content: start;
        align-items: center;
    }
        .game-title{
            font-family: 'Comfortaa', cursive;
            font-weight: 600;
            font-size: 36px;
        }
        .dados-container{
            background-color: var(--color3);
            box-shadow: var(--color1) 0 5px 0px;
            border-radius: 10px;

            width: 320px;
            height: 310px;
            
            user-select: none;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            color: var(--color5);

            padding: 1rem;
            
        }
            .placar-container{
                display: flex;
            }
                .player-container{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                }
                    .player-container span{
                        font-size: 10px;
                        font-weight: 500;
                        width: 100%;
                        text-align: center;
                    }

                .placar{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 15px;
                    position: relative;
                    bottom: -7px;
                }
                    .placar #pontos-player1, .placar #pontos-player2{
                        font-weight: 600;
                        font-size: 24px;
                    }
                    .player-versus{
                        font-weight: 600;
                        font-size: 16px;
                    }
            .sua-vez-jogador{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            .game{
                background-color: var(--color3);
                height: 460px;
                width: 450px;
                border-radius: 10px;
                box-shadow: var(--color1) 0 5px 0px;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;

                padding: 2rem;
                gap: 1rem;
            
            /* user-select: none; */}
                .game-position{
                    height: 120px;
                    width: 120px;
                    background-color: var(--color2);
                    border-radius: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                padding: 0;}

                .formaX {
                    fill: var(--color5);
                }
                .forma-win svg{
                    fill: var(--azul) !important;
                }
                .formaO {
                    stroke: var(--color5);
                }

.splash-screen{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-iniciar{
    background-color: var(--color3);
    box-shadow: var(--color1) 0 5px 0px;
    border-radius: 10px;
    width: 600px;
    height: 450px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-players div{
    display: flex;
    flex-direction: column;

}
.name-win{
    font-size: 20px;
    font-weight: 600;
}


.buttons-container{
    display: flex;
    gap: 1rem;
}

.button-finalizar{
    border: 0;
    background-color: var(--color1);
    box-shadow: var(--color2) 0 2px 0px;
    padding:  0.5rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--color5);
    cursor: pointer;
}
.button-continuar{
    border: 0;
    background-color: var(--azul);
    box-shadow: var(--color2) 0 2px 0px;
    padding:  0.5rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--color5);
    cursor: pointer;
}